@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

html, body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
.navbar {
    display: flex;
    align-items: center;
}

.navbar-logo {
  display: inline-block;
  position: static;
  width: 9.83rem;
  height: 3.83rem;
}

.navbar-button {
  display: inline-block;
  margin: 0 1rem; /* top, right, bottom, and left */
  background-color: #FFFFFF;
  height: 3rem;
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
  color: #393E46;
  position: relative; 
}

.buttonTriangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.313rem solid transparent;
  border-right: 0.313rem solid transparent;
  border-bottom: 0.313rem solid #6CB1A3; /* Color of the triangle */
  top: 50%; /* Vertically center the triangle */
  left: 95%;
  transform: translateY(-50%) translateX(-0.313rem) rotate(179.27deg);
}

.buttonLogIn {
    color: #559F91;
    line-height: 1.5rem;
    box-sizing: border-box;
    border: 0.16rem solid #559F91;
    border-radius: 0.313rem;
    top: 50%;
}

